.App {
  text-align: center;
  background-color: #e4e4e4;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #ffffff;
  color: #000080;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.filters button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters button:hover {
  background-color: #ddd;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #bbb;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #00008094;
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
}

.buttons button:hover {
  color: #ccc;
}
